
.DS_Store

MyALLin1.xcodeproj/xcuserdata/chrisbowe.xcuserdatad/xcschemes/xcschememanagement.plist

MyALLin1.xcworkspace/xcuserdata/chrisbowe.xcuserdatad/UserInterfaceState.xcuserstate

Pods/Pods.xcodeproj/xcuserdata/chrisbowe.xcuserdatad/xcschemes/xcschememanagement.plist
